@font-face {
  font-family: 'crayons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/crayons.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'aller';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/aller_bd.ttf'); /* IE9 Compat Modes */
}


body{
  background-color: #000 !important;
  color:white !important;  
  font-family: 'crayons' !important;
  background-color: #000;
  background-image: url('./assets/side-a.svg'), url('./assets/side-b.svg');
  background-repeat: repeat-y, repeat-y;
  background-position: left, right;
  background-origin: padding-box, padding-box;
  background-size: 10% auto, 10% auto;
}

.App {
  text-align: center;
}

.mrexpresslogo{
  margin-bottom: 40px;
  margin-top: 30px;
  width: 200px;
}

.menu-container{
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.menu-title{
  color: black;
  margin-bottom: 15px;
  display: inline-block;
  font-family: "aller" !important;
  padding: 10px 70px;
  background: url(./assets/title-background.svg) no-repeat;
  background-size: 120%;
  background-position: center;
}

.item-desc p{
  margin-bottom: 0;
}

.item-price{
  line-height: 1.1rem;
  color: #bbb !important;
}

.item-name{
  margin-top: 10px;
  font-size: 1.5em;
}